<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Game Analysis</title>
  <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Video Game Genre Analysis</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select Genre:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Video Game Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <div id="plot"></div>
  <div id="plot2"></div>
  <div id="plot3"></div>
  <div id="bubble"></div>
 <script>
    // var data = {{games|tojson|safe}};
    // var data = {{games}}
    // var data = "http://127.0.0.1:5000/api/v1.0/completedata"
//     console.log(data);
//    d3.json("http://127.0.0.1:5000/api/v1.0/completedata").then((gamedata)=>{
//     console.log(gamedata)
//    })


//     var trace1 = {
//     x: data.criticscore,
//     y: data.globalsales,
//     mode: 'markers',
//     marker: {
//         size: [40, 60, 80, 100]
//     }
//     };

//     var data = [trace1];

//     var layout = {
//     title: 'Marker Size',
//     showlegend: false,
//     height: 600,
//     width: 600
//     };

//     Plotly.newPlot('plot', data, layout);

//     console.log(data) -->

    let selector = d3.select("#selDataset");
    

    //call API
    d3.json("http://127.0.0.1:5000/api/v1.0/genres").then((data) =>{
        // console.log(data.names);
        let gamedata = data;

        //loop through and generate option links from dataset
        for(let index = 0; index < gamedata.length; index++){
            console.log(gamedata[index].genre)
            selector.append("option").text(gamedata[index].genre).property("value", gamedata[index].genre);
            
        }
        let gameOne = gamedata[0];

        //generateCharts(gameOne);
        // generateMetadata(sampleOne);

    })
    

</script>

<script>
    d3.json("http://127.0.0.1:5000/api/v1.0/completedata").then((data) =>{
        // console.log(data.names);
        let salesdata = data;
let genres = []
let totalglobalsales = []
let names = []
let developers = []
let publishers = []
let criticscores = []
let userscores = []
let ratings = []

        //loop through and generate option links from dataset
        console.log(salesdata)
        for(let index = 0; index < salesdata.length; index++){
            totalglobalsales.push(salesdata[index].globalsales)
            genres.push(salesdata[index].genre)
            names.push(salesdata[index].name)
            developers.push(salesdata[index].developer)
            publishers.push(salesdata[index].publisher)
            ratings.push(salesdata[index].rating)
            criticscores.push(salesdata[index].criticscore)
            userscores.push(salesdata[index].userscore)

        }
        
       
        console.log(totalglobalsales)
        console.log(genres)
        console.log(names)
        console.log(developers)
        console.log(publishers)
        console.log(criticscores)
        console.log(userscores)
        console.log(ratings)

        var trace = {
            x: genres,
            y: totalglobalsales,
            type: 'bar'

        }   
        var data = [trace];
        
        var layout = {
            title: "test"
             
        }

        Plotly.newPlot('plot', data, layout);


        var trace2 = {
            x: genres,
            y: criticscores,
            type: 'bar'

        }   
        var data2 = [trace2];
        
        var layout2 = {
            title: "test"
             
        }

        Plotly.newPlot('plot2', data2, layout2)

        var trace3 = {
            x: genres,
            y: userscores,
            type: 'bar'

        }   
        var data3 = [trace3];
        
        var layout3 = {
            title: "test"
             
        }

        Plotly.newPlot('plot3', data3, layout3)
        
    });

</script>

<div id="bubble"></div>

<script>

 
 
</script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>

  
</body>

</html>
