<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1 | Project #3</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<img src="https://github.com/mshawn12/video-game-sales-analysis/raw/main/images/video_game_header.png?raw=true" width="100%">
    <script>
        d3.json('http://127.0.0.1:5000/api/v1.0/completedata').then(function(data) {
            console.log(data)
            let genres0 = data[0].genre;
            let genres1 = data[10].genre;
            console.log(genres0)
            console.log(genres1)
            let names0 = data[0].name;
            console.log(names0)
    });
    </script>
    
<!-- Testing -->
    <!-- <script>
        d3.json('http://127.0.0.1:5000/api/v1.0/completedata').then(function(data) {
            let genres = data.genre;
            for(let index = 0; index < genres.length; index++){
                selector.append("option").text(genres[index]).property("value", genresNames[index]);
            }
            
            console.log(genres)
    });
    </script> -->


// <script>
//     var data = {{games|tojson|safe}};
//     console.log(data)

</script> 
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./static/js/app.js"></script>

</body>
</html>