<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <title>anime</title>
  </head>
  <body>
    <div class="container">
      <article>
        <svg
          class="youtube"
          xmlns="http://www.w3.org/2000/svg"
          height="100px"
          width="100px"
          viewBox="-10 0 600 500"
        >
          <path
            stroke="red"
            stroke-width="10"
            fill="#f1f1f1"
            d="M459 61.2C443.7 56.1 349.35 51 255 51S66.3 56.1 51 61.2C10.2 73.95 0 163.2 0 255s10.2 181.05 51 193.8c15.3 5.1 109.65 10.2 204 10.2s188.7-5.1 204-10.2c40.8-12.75 51-102 51-193.8S499.8 73.95 459 61.2zM204 369.75v-229.5L357 255 204 369.75z"
          />
        </svg>
        <h2>My Cool Video</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vitae
          totam voluptatibus consequatur tempore, inventore ducimus corrupti eos
          nisi quae similique vero quasi nam magnam sequi quaerat. Sunt labore
          quae iste praesentium suscipit minus, repellendus maxime laborum eum
          doloribus, dolorum quia inventore quibusdam mollitia debitis nam. Quis
          facilis consectetur itaque?
        </p>
        <a href="#" class="button">Download</a>
      </article>
    </div>
    <script src="{{templates/anime.min.js}}"></script> 
    <script src="{{templates/script.js}}"></script>
  </body>

</html>
